<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5 Cats Game - Partie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="static/css/game.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var distance = 30;
        var answer_image = '{{img}}';

        socket.on('connect', function () {
            console.log('Connected to the server');
        });

        socket.on('update_score', function (data) {
            document.getElementById('players_ranking').innerHTML = "";
            for(var i in data){
                p = data[i];
                document.getElementById('players_ranking').innerHTML += '<tr><td>' + p[0] + '</td><td><p id="' + p[0] + '_score">' + p[1] + '</p></td></tr>';
            }
        });

        socket.on('new_question', function(data){
            document.getElementById('qimage').src = "/static/movies/" + data['image'] + ".png";
            answer_image = data['image'];
            distance = 30;
        });

        var x = setInterval(function() {
          document.getElementById("prog-timer").innerHTML = distance + "s ";
          document.getElementById("prog-timer").setAttribute('aria-valuenow', distance);
          document.getElementById("prog-timer").setAttribute('style', 'width:'+Number(100*distance/30)+'%');
          document.getElementById("prog-timer").setAttribute('class', 'progress-bar');

          if (distance <= 5){
            document.getElementById("prog-timer").setAttribute('class', 'progress-bar bg-danger');
          }
          if (distance == 0){
            socket.emit('time_out');
          }
          if (distance < 0) {
            document.getElementById("prog-timer").innerHTML = "EXPIRED the answer is: <b>" + answer_image + "</b>";
            document.getElementById("prog-timer").setAttribute('class', 'progress-bar bg-info');
            document.getElementById("prog-timer").setAttribute('aria-valuenow', 6 + distance);
            document.getElementById("prog-timer").setAttribute('style', 'width:'+Number(100*(6 + distance)/5)+'%');
          }
          if (distance < -4){
            clearInterval(x);
            location.reload();
            document.getElementById("prog-timer").innerHTML = "NEW QUESTION";
          }
          distance -= 1;
        }, 1000);
    </script>
</head>
<body>
<div class="game-container">
    <div class="row">
        <div class="col-md-4">
            <h1><i class="fa-solid fa-cat"></i> Joueurs</h1>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th><i class="fa-solid fa-user"></i> Nom</th>
                    <th><i class="fa-solid fa-star"></i> Score</th>
                  </tr>
                </thead>
                <tbody id="players_ranking">
                  {% for r in players %}
                  <tr>
                    <td>{{ r[0] }}</td>
                    <td><p id="{{ r[0] }}_score">{{ r[1] }}</p></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-8 text-center">
            <h1><i class="fa-solid fa-question"></i> Question</h1>
            <div class="progress mb-3">
                <div class="progress-bar" id="prog-timer" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>
            </div>
            <img id="qimage" src="/static/movies/{{img}}.png" alt="Question Image"/>
        </div>
    </div>
</div>
</body>
</html>