<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Player {{name}}</title>
</head>
<body>
    <h1>{{name}}</h1>
    <h2>Your Score {{score}}</h2>
    <h3>Question value {{qscore}}</h3>
    <img src="/static/{{img}}.png" height="100"/><br>
    <div id="choices">
    {% for c in choix %}
       <a href="/choose/{{name}}/{{c}}"><button class="btn btn-primary btn-sm">{{c}}</button></a><br>
    {% endfor %}
    </div>
</body>
</html>