<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="300" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <style>
        .img-container {
          position: relative;
          width:500;
          max-width:500;
        }

        .bottomright {
          position: absolute;
          bottom: 5px;
          left:230px;
          font-size: 16px;
          border: 2px solid maroon;
          border-radius: 5px;
          background: papayawhip;
          padding: 2px;
        }

        .qimage {
          height: 300;
          width: auto;
        }
    </style>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server');
        });

        socket.on('time_out', function(){
            location.reload();
        });

        socket.on('new_question', function(data){

            document.getElementById('qimage').src = "/static/movies/" + data['image'] + ".png";
            document.getElementById('choices').innerHTML = "";
            console.log('new question');

            document.getElementById('waiting').style.display = "none";
            document.getElementById('question_main').style.display = "";

            for(var i in data['choices']){
                c = data['choices'][i];
                document.getElementById('choices').innerHTML +=
                    '<a href="/choose/{{name}}/' + c + '"><button class="btn btn-primary" onclick="sendMessage()">' + c + '</button></a>&nbsp;';
            }


        });
    </script>
    <title>Player {{name}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">

      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <b>{{name}}</b>
          </li>
          <li class="nav-item">
             &nbsp;| Your Score <b>{{score}}</b>
          </li>
            {% if choix|length > 1 %}
          <li class="nav-item">
            &nbsp;| Question value {{qscore}}
          </li>
            {% endif %}
        </ul>
      </div>

    </nav>
        <div id="waiting" {% if img != "" %} style="display:none;" {%endif%}>
            <span>Waiting for other players ...</span> <div class="spinner-border" role="status"></div>
        </div>
    <div  id='question_main' class="mx-auto justify-content-center" {% if img == "" %} style="display:none;" {%endif%}>
        <div class="mx-auto justify-content-center img-container">
                <img  class="qimage" id="qimage" src="/static/movies/{{img}}.png" height="300" /><br>
                <div class="bottomright" id="score">{{qscore}} points</div>
        </div>

        <div id="choices" style = 'max-width: 300px;'>
        {% for c in choix %}
           <a href="/choose/{{name}}/{{c}}"><button class="btn btn-primary btn-lg btn-block" onclick="sendMessage()">{{c}}</button></a>
        {% endfor %}
        </div>
    </div>
</body>
</html>