<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="static/css/player.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server');
        });

        socket.on('time_out', function(){
            location.reload();
        });

        socket.on('new_question', function(data){
            document.getElementById('qimage').src = "/static/movies/" + data['image'] + ".png";
            document.getElementById('choices').innerHTML = "";
            document.getElementById('waiting').style.display = "none";
            document.getElementById('question_main').style.display = "";
            for(var i in data['choices']){
                c = data['choices'][i];
                document.getElementById('choices').innerHTML +=
                    '<a href="/choose/{{name}}/' + c + '"><button class="btn btn-primary">' + c + '</button></a>';
            }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <i class="fa-solid fa-user"></i> <b>{{name}}</b>
          </li>
          <li class="nav-item">
             &nbsp;| <i class="fa-solid fa-star"></i> Score <b>{{score}}</b>
          </li>
          {% if choix|length > 1 %}
          <li class="nav-item">
            &nbsp;| <i class="fa-solid fa-coins"></i> Question value {{qscore}}
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="waiting" {% if img != "" %} style="display:none;" {%endif%}>
        <span>En attente des autres joueurs...</span> <div class="spinner-border" role="status"></div>
    </div>
    <div id='question_main' class="mx-auto justify-content-center" {% if img == "" %} style="display:none;" {%endif%}>
        <div class="img-container">
            <img class="qimage" id="qimage" src="/static/movies/{{img}}.png" alt="Question" />
            <div class="bottomright" id="score">{{qscore}} points</div>
        </div>
        <div id="choices">
        {% for c in choix %}
           <a href="/choose/{{name}}/{{c}}"><button class="btn btn-primary">{{c}}</button></a>
        {% endfor %}
        </div>
    </div>
</body>
</html>